.css-1hwfws3 {
    padding: 0 0.75rem 0  0.75rem !important;
}
.css-gn7tss {
    border: 1px solid #ebedf2 !important;
}   
.css-1cfjsiw:hover {
    border-color:#ebedf2 !important; 
}
.css-1492t68,  {
    color: rgba(100, 108, 154, 0.7) !important;
    font-size: 1rem !important;
}
.css-19bqh2r {
    fill: rgba(100, 108, 154, 0.7) !important;
}
.css-d8oujb {
    background-color: rgba(100, 108, 154, 0.7) !important;
}
.css-xp4uvy {
    color: #495057 !important;
    font-weight: 400;
    font-size: 1rem !important;
}