@import "assets/css/sass/themes/gogo.light.green";
@import "assets/fonts/iconsmind/style.css";
@import "assets/fonts/simple-line-icons/css/simple-line-icons.css";
@import "assets/themeMetro/src/theme/framework/vendors/flaticon/flaticon.css";
@import "assets/themeMetro/src/theme/framework/vendors/flaticon2/flaticon.css";
@import "assets/themeMetro/src/theme/framework/vendors/line-awesome/css/line-awesome.css";
@import "assets/themeMetro/src/theme/framework/vendors/line-awesome/css/line-awesome.css";
@import "assets/themeMetro/src/theme/framework/vendors/fontawesome5/css/all.min.css";
@import "assets/themeMetro/src/theme/demo/default/sass/style";
@import "assets/themeMetro/src/theme/app/custom/pricing/pricing-v1";


.container-body {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

.btn-link {
  &:hover {
    text-decoration: underline;
  }
}

.btn-active-link {
  text-decoration: underline;
  color: #017b80;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 97;
  margin-bottom: 300px;
}